* {
  background-color: #b1c1c0;
  font-family: "Georgia";
  color: #2c4251;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
hr {
  width: 100;
  height: 5px;
  background-color: #a9665d;
}
#bio {
  text-align: center;
  font-size: 18px;
}
#tagline {
  text-align: center;
}
#link {
  color: #a9665d;
}
#menu {
  font-size: 18px;
  padding-left: 35%;
  padding-right: 32%;
}
.active {
  color: #a9665d;
}
#pic {
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 0px;
  height: 200px;
  width: 150px;
  float: left;
  position: relative;
}
#about {
  padding-bottom: 7%;
  position: relative;
  width: 85%;
}
#demo {
  text-align: center;
}
#bio {
  padding-left: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
}
#code {
  list-style-image: url("images/icon.png");
  padding-left: 42%;
}
.photogrid {
  width: 100%;
}
#contactp {
  text-align: center;
}
